body{
    background-image: linear-gradient(red, yellow);
    text-align: center;
}

#pageHeaderDiv{
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: chocolate;
    border: 1px blue;
}

#picture {
    width: 300px;
    height: 200px;
}

#LoginFormDiv{
    background-color: cornflowerblue;
    margin: 40px;
    padding: 20px;
    border: 10px solid black;
}